# Local configuration file (sdk path, etc)
local.properties

# Gedit temp files
*~

# gradle files
.gradle/
.idea/
build/
gen/

# Intellij files (Android Studio)
*.iml

# NetBeans IDE project files
/.nb-gradle/private/

# Release signing property file
release.properties
