language: android

jdk:
  - oraclejdk8

android:
    components:
        - tools #latest for "builtin" sdk (24.4.1 in Android-24)
        #To update SDK Tools to latest, another update is required
        #- tools #latest, 25.2.2 as of 2016-09-25
        - platform-tools #latest, 24.0.3 as of 2016-09-25
        - build-tools-24.0.2
        - android-24
        - extra-android-m2repository
        - extra-google-m2repository
        - extra-google-google_play_services

notifications:
  email: false

script:
    - ./gradlew lintFroyoRelease  assembleFroyoRelease
    - ./gradlew lintLatestRelease assembleLatestRelease
    - ./gradlew test
