language: android

jdk:
  - oraclejdk8

android:
    components:
        - tools
        - tools #update to latest, cannot control version
        - platform-tools #latest
        - build-tools-24.0.0
        - android-24
        - extra
        - extra-android-m2repository
        - extra-google-google_play_services

notifications:
  email: false

# cache between builds
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle

script:
    - ./gradlew lintFroyoRelease
    - ./gradlew lintLatestRelease
    - ./gradlew test
