<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.runnerup" android:versionCode="1"
	android:versionName="1.0">

        <uses-sdk
            android:minSdkVersion="8" />


	<application
	    android:icon="@drawable/icon"
	    android:label="@string/app_name">
		android:configChanges="orientation"

	    <activity
			android:name=".view.MainLayout"
			android:label="@string/app_name"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	
		<activity android:name=".view.StartActivity"
		    android:screenOrientation="portrait" >
		</activity>

		<activity android:name=".view.RunActivity"
		    android:screenOrientation="portrait" >
		    
		</activity>
		
		<activity android:name=".view.SaveActivity"
		    android:screenOrientation="portrait" >
		</activity>

		<activity android:name=".view.SettingsActivity"
		    android:screenOrientation="portrait" >
		</activity>

		<activity android:name=".view.DetailActivity"
		    android:screenOrientation="portrait" >
		</activity>

		<activity android:name=".view.HistoryActivity"
		    android:screenOrientation="portrait" >
		</activity>

		<activity android:name=".export.oauth2client.OAuth2Activity"
		    android:screenOrientation="portrait" >
		</activity>
		
		<service 
		    android:name=".gpstracker.GpsTracker" >
		</service>
	</application>
		
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.USE_CREDENTIALS" />
</manifest> 
